# Dependencies
node_modules/
package-lock.json

# Database
database.json

# Uploads
uploads/*
!uploads/.gitkeep

# Reports
reports/*
!reports/.gitkeep

# Production
/build
.env

# Testing
/coverage

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
